<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid" id="header-area">
                        <div class="row">
                            <div class="col-12">
                                <div id="logo-area">
                                    <img src="images/logo.png" alt="IGGF logo"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span class="caption">Tapez plus vite au clavier !</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-12">
                        <div class="container-fluid" id="pre-setup-area">
                            <div class="row">
                                <div class="col-12">
                                    <span id="input-name-label">Entrez votre nom pour commencer</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                    <input class="form-control" type="text" id="input-name-value"/>
                                </div>
                                <div class="col-3" id="go-button">
                                    <button type="button" class="btn btn-primary">Go !</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <input class="form-check-input position-static" type="checkbox" id="do-not-display-score-checkbox"/>
                                </div>
                                <div class="col-10">
                                    <span id="do-not-display-score-label">Je ne veux pas que mon score soit affiché dans le ladder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

@code {
    
}